.footer{
	height: 400px; 
	width: 100%;
	background-color: #505050;
	color: #777777; 
}
h2, a{
	color:#F6F3E4;
}
.volgOns, .contact, .nieuwsbrief, .footerLogo{
	float: left;
	margin: 50px;
	
}
.button{
	background-color: #505050;
	border: 2px solid #F6F3E4;
	color: #F6F3E4;
	padding: 10px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16 px;
	margin: 4px 2px;
	border-radius: 10px;
}

img.footerLogo{
	width: 300px;
	height: 300px;
}

.voorstellen{
	background-image: url("images/voorstellenHome.png");
	background-size: 100%;
}